h1 {
	font-size: 75px;
	font-family: 'Amatic SC', cursive;;
}


ul {
	padding: 10px;
	display: block;
}

li {
	font-size: 30px;
	font-family: 'Reenie Beanie', cursive;
}

body {
	margin: 0 auto;
	margin-left: 50px;
	margin-top: 15px;
}